<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/masthead') %>
  <div class="container">
    <p class="intro">Fill out this form to sign the agreement.</p>

    <form action="/sign" method="POST">
      <div class="form-row">
        <div class="form-label">
          <label for="company">What’s the name of your company?</label>
        </div>
        <div class="form-field">
          <input type="text"
                 value="CJ Room Ltd T/A McDonald's"
                 id="company"
                 name="company"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 readonly>
        </div>
      </div>
      <div class="form-row">
        <div class="form-label">
          <label for="name">What’s your full name?</label>
        </div>
        <div class="form-field">
          <input type="text"
                 id="name"
                 name="name"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 placeholder="<%= exampleData.name %>"
                 oninvalid="this.setCustomValidity('Please enter your name.')"
                 oninput="setCustomValidity('')"
                 autocomplete="name"
                 required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-label">
          <label for="role">What store do you work in?</label>
        </div>
        <div class="form-field">
          <select id="store"
                  name="store"
                  class="c-select"
                  oninvalid="this.setCustomValidity('Please select the store you work in.')"
                  oninput="setCustomValidity('')"
                  required>
            <option value="" selected>Please select a store</option>
            <option>0090 - Cheltenham</option>
            <option>0115 - Swindon Brunel Centre</option>
            <option>0331 - Cockleberry</option>
            <option>0591 - Greenbridge</option>
            <option>0922 - Cirencester</option>
            <option>1255 - Watchfield</option>
            <option>1291 - Stroud</option>
            <option>1308 - Asda Swindon</option>
            <option>1353 - Swindon Orbital</option>
            <option>1443 - Swindon Bridgemead</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-label">
          <label for="role">What's your role?</label>
        </div>
        <div class="form-field">
          <select id="role"
                  name="role"
                  class="c-select"
                  oninvalid="this.setCustomValidity('Please select your role.')"
                  oninput="setCustomValidity('')"
                  required>
            <option value="" selected>Please select your role</option>
            <option>Crew Member</option>
            <option>Customer Care Assistant</option>
            <option>Crew Trainer</option>
            <option>Shift Manager</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-label">
          <label for="email">What’s your email address?</label>
        </div>
        <div class="form-field">
          <input type="email"
                 id="email"
                 name="email"
                 class="c-input"
                 size="40"
                 placeholder="<%= exampleData.email %>"
                 oninvalid="this.setCustomValidity('Please enter a valid email address.')"
                 oninput="setCustomValidity('')"
                 autocomplete="email"
                 required>
        </div>
        <p class="form-comment">Your agreement will be emailed to you.</p>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label>Sign your name</label>
        </div>
        <div class="form-field">
          <button class="js-sig-reset sig-reset hidden"></button>
          <canvas class="js-sig-canvas sig" width="444" height="125"></canvas>
          <input type="hidden" class="js-sig" name="signature">
        </div>
      </div>

      <div class="form-submit">
        <input class="c-submit js-submit" type="submit" value="Sign Agreement" disabled>
      </div>
    </form>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
