<p>Agreement attached.</p>

<p><strong>Company:</strong> <%= company %></p>
<p><strong>Store:</strong> <%= store %></p>
<p><strong>Name:</strong> <%= name %></p>
<p><strong>Role:</strong> <%= role %></p>
<p><strong>Email:</strong> <%= email %></p>
